/*Universal settings*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --primary_color: #DFDFDF;
    --background: white;
}
body{
    font-family: 'Roboto', sans-serif;
}

/*Header*/
header,
section#work div{
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--primary_color);
}
header nav ul{
    display: flex;
    flex-direction: row;
}
header nav ul li{
    list-style-type: none;
    padding: 1rem 0rem;
    transition: all 0.4s;
}
header nav ul li a{
    display: inline-block;
    text-decoration: none;
    color: black; /*Making it var*/
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
}
header nav ul li:hover{
    background: var(--background);
    cursor: pointer;
    transform: scale(1.05);
}
.fa-camera{
    opacity: 0.1;
}

/*Hero section*/
section#hero{
    background: url("./img/alif-ngoylung-243373-unsplash.jpg") no-repeat center center/cover;
    height: 100vh;
}
section#hero div{
    background: var(--primary_color);
    opacity: 0.85;
    width: fit-content;
    padding: 2rem 4rem;
    border-radius: 16px;
    margin: 0 auto;
    position: relative;
    top: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation-name: hero_div;
    animation-delay: 0.4s;
    animation-duration: 0.8s;
}
section#hero div p{
    text-align: center;
    opacity: 0.95;
}
section#hero div img{
    padding: 1rem 0 0 0;
    height: 3rem;
    width: auto;
}
/*Work section*/
/*Section#Work=Header CSS*/
#work{
    background: var(--background);
}
#work nav .fab{
    padding: 1rem;
    opacity: 0.85;
    transition: all 0.4s;
}
#work nav .fa-facebook{
    color: #3B5998;
}
#work nav .fa-twitter-square{
    color: #00aced;
}
#work nav .fa-instagram{
    color: #E1306C;
}
#work nav .fa-linkedin{
    color: #0077B5;
}
#work a i:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/*Photo-feed*/
#work #photo-feed{
    padding: 1rem 1rem 2rem 1rem;
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    background: var(--background);
}
#work #photo-feed img{
    height: 33vh;
    /* max-height: 100%; */
    width: 100%;
    object-fit: cover;
    padding: 0.5rem;
    background-position: center center;
}

/*CONTACT FORM STYLE*/
#contact{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 4rem;
    background: url("./img/sergio-souza-1386770-unsplash.jpg") no-repeat center center/cover;
    height: calc(66vh + 8rem);
}
#contact form,
#about{
    width: 30vw;
    max-width: 440px;
    height: 440px;
    display: flex;
    flex-direction: column;
    background: var(--primary_color);
    padding: 1rem 1rem 0 1rem;
    border-radius: 16px;
    opacity: 0.8;
}

#contact form input{
    border-radius: 8px;
    border: 0.4px black solid;
    padding: 4px 0;
    outline: none;
}
input#email,
input#subject,
textarea#message{
    padding: 4px 8px !important;
}

#contact form textarea{
    border-radius: 8px;
    border: 0.4px black solid;
    resize: none;
    outline: none;
}
#contact h3{
    text-align: center;
    padding: 0 0 1rem 0;
    font-size: 1.5rem;
}
#contact p{
    padding: 2rem 0 0 0;
}
#contact form button{
    background: var(--background);
    border: 0.4px black solid;
    text-align: center;
    border-radius: 12px;
    text-decoration: none;
    width: 120px;
    padding: 0.5rem 0;
    margin: 1rem auto 0.5rem auto;
    font-weight: bold;
    transition: all 0.4s;
}
#contact form button:hover{
    cursor: pointer;
    background: var(--primary_color);
    transform: scale(1.1);
}


/*MOBILE CSS*/
@media only screen and (max-width: 768px)
{
    header{
        justify-content: center;
    }
    header nav ul li a{
        font-size: 1rem;
        padding: 0 0.5rem;
    }
    header nav ul li:hover{
        background: var(--primary_color);
        transform: scale(1);
    }
    .fa-camera{
        display: none;
    }
    section#hero div{
        margin: 0;
        border-radius: 0 24px 24px 0;
        top: 63vh;
        padding: 1.5rem 25vw 1.5rem 1.5rem;
        opacity: 0.7;
        animation-name: from_right;
        animation-duration: 1s;
    }
    section#hero div p{
        text-align: start;
        font-size: 1.2rem;
        opacity: 1;
    }
    section#hero div img{
        display: none;
    }
    section#work div{
        flex-direction: column-reverse;
    }
    #work nav .fab{
        padding: 0.5rem;
    }
    #work #photo-feed{
        grid-template-columns: 90vw;
        margin: 0 auto;
        justify-content: center;
    }
    #photo-feed img{
        height: 50vh !important;
        max-height: 100%;
    }
    #contact{
        flex-direction: column-reverse;
        height: fit-content;
        padding: 0;
    }
    #contact form,
    #about{
    width: 80%;
    height: 360px;
    display: flex;
    flex-direction: column;
    background: var(--primary_color);
    padding: 1rem;
    border-radius: 16px;
    opacity: 0.8;
    margin: 1.5rem 0;
    }
}

/*BIG SCREEN CSS*/
@media only screen and (min-width: 1600px){
    header nav ul li a{
        font-size: calc(2rem + 0.2vw);
        padding: 0 1.5rem;
        opacity: 0.8;
    }
    section#hero div{
        top: calc(50vh + 1vw);
        bottom: 1000px;
        padding: calc(2rem + 0.8vw) calc(4rem + 1.6vw);
    }
    section#hero div p{
        font-size: calc(1.5rem + 0.5vw);
    }
    #contact form{
        justify-content: center;
    }
    #contact form,
    #about{
        padding: 2rem 2rem 0.5rem 2rem;
    }
    #contact form label,
    #about p{
        font-size: 1.5rem;
    }
    
    #work #bar{
        justify-content: space-evenly;
    }
    #work #bar h2{
        font-size:3rem;
        font-weight: normal;
    }
    #work #bar i{
        font-size: 4rem;
        padding: calc(1rem + 0.2vw);
    }
    #work #photo-feed{
        padding: 1rem calc(4em + 1vw) 2rem calc(4rem + 1vw);
    }
}
@media only screen and (min-width: 2440px){
    #contact form label,
    #about p{
        font-size: 2rem;
    }
    #contact form,
    #about{
        max-width: 600px;
        padding: 2.5rem 3.5rem 1rem 3.5rem;
        height: 640px;
        border-radius: 40px;
    }
    #contact h3{
        font-size: 3rem;
    }
    #about{
        justify-content: center;
    }
    #contact input{
        height: 2.5rem;
    }

}

/*ANIMATIONS*/
@keyframes hero_div {
    from{transform: translateY(-1000px)}
    to {transform: translateY(0);}
}
@keyframes from_right{
    from{transform: translateX(-1000px)}
    to {transform: translateX(0);}
}

