*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    --primaryColor: rgb(255, 72, 102);
    margin: 0 auto;
}

main{
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('https://source.unsplash.com/random') no-repeat center center /cover;
    height: 100vh;
}
main h1{
    color: white;
    font-size: calc(2vw + 1.5rem);
    text-align: center;
    margin-top: 10vh;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 2rem;
}

header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0.1rem;
}

header nav ul li{
    list-style: none;
    padding: 0 2vw;
}
header nav ul li a{
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    background: var(--primaryColor);
    padding: 0.8rem 1vw;
    border-radius: 8px 32px;
}
header nav ul li a:hover{
    background: rgba(255, 192, 203, 0.8);
    color: var(--primaryColor);
}

#logo{
    font-size: 3.2rem;
    font-style: italic;
    color: white;
}

#logo::before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f007";
    font-size: 80%;
}

/* #description{
    display: flex;
    flex-direction: row;
    background: #dedee0;
    padding: 1rem 4rem;
    height: 40vh;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    flex: 1 0;
}
#description img{
    height: 100%;
    padding-right: 5vw;
} */